.env
ailinter/__pycache__
bin
lib
build
dist
share
*.egg-info
*.egg
include
pyvenv.cfg
*.pyc
__pycache__
reviewme.egg-info/
reviewme/ailinter/saved_reviews/
reviewme/ailinter/streamlit/streamlit_app_super.py
reviewme/ailinter/streamlit/table.html
