.env
ailinter/__pycache__
bin
lib
build
dist
share
*.egg-info
*.egg
include
pyvenv.cfg
*.pyc
__pycache__
reviewme.egg-info/
ailinter/saved_reviews/
ailinter/streamlit/streamlit_app_super.py
ailinter/streamlit/table.html
scanline/ailinter/.DS_Store
.DS_Store
.idea