.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Change this from 'none' to 'block' */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 100%; /* This will position the dropdown below the header */
}

.dropdown:hover .dropdown-content {
    display: block;
}